<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marty Stew + $head_title</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">    
    <meta name="description" content="$description">
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
    <meta name="dcterms.modified" content="$datemodified">
  </head>
  <body>
    <main class="section">
      <header>
	<h1><span class="sectionTitle"><a href="/">Marty Stew</a> + $page_title</span></h1>
      </header>
      <div class="overview">$description</div>      
      $content
      <footer>
	&copy; $current_year M. J. Stew. Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0.</a>
      </footer>
    </main>
  </body>
</html>
