<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marty Stew: $title</title>
    <link rel="stylesheet" href="/css/default.css">
    <meta name="description" content="$description">
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
    <meta name="dcterms.created" content="$datecreated">
    <meta name="dcterms.modified" content="$datemodified">
    <meta name="dcterms.subject" content="$keywords">
  </head>
  <body>
    <header>
      <h1>$section$title</h1>
      <nav><a href="/">Home</a></nav>
    </header>
    <main>
      $content
    </main>
    <footer>
      This page does not contain AI-generated material. Contact marty.stew at ProtonMail. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </footer>
  </body>
</html>
